.footer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 25px;
}

.footer a{
    color: #FFFFFF;
}

.footer li{
    margin-left: 15px;
}

.footer p{
    margin: 25px;
}