.btn{
    background: transparent;   
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 15px;
    cursor: pointer;
   }
   
   .btn:hover{
       color: #FFFFFF;
       background-color: #010B28;
       transform: translateY(-7px);
       transition-duration: 0.5s;
   }